<a href="https://colab.research.google.com/github/yeonghun00/stock_public/blob/main/daytrading_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded = files.upload()

Saving 1 386 매매내역_(신이준-선물)_2021-07-31.xls to 1 386 매매내역_(신이준-선물)_2021-07-31.xls

In [36]:
import pandas as pd

df = pd.read_html(uploaded['1 386 매매내역_(신이준-선물)_2021-07-31.xls'])[0]

In [37]:
import datetime

df.columns = df.iloc[0]
df = df.iloc[1:]

df['거래일자'] = list(map(lambda x: datetime.datetime.strptime(x, '%m/%d %H:%M'), df['거래일자']))
df['매수/매도가'], df['수량'], df['매매금액'] = df['매수/매도가'].astype(float), df['수량'].astype(int), df['매매금액'].astype(int)

In [38]:
df = df[::-1].reset_index(drop=True)
df

0                   거래일자 매매구분    종목명  매수/매도가     수량      매매금액
0    1900-06-14 08:30:00   매도  라온시큐어  6070.0      8     48560
1    1900-06-14 08:30:00   매도  라온시큐어  6070.0   1222   7417540
2    1900-06-14 08:30:00   매도  라온시큐어  6070.0    860   5220200
3    1900-06-14 08:30:00   매도  라온시큐어  6070.0    650   3945500
4    1900-06-14 08:30:00   매도  라온시큐어  6070.0    329   1997030
...                  ...  ...    ...     ...    ...       ...
3409 1900-07-29 16:12:00   매수   나노캠텍  2460.0   7000  17220000
3410 1900-07-29 16:20:00   매도   나노캠텍  2350.0   7000  16450000
3411 1900-07-29 16:30:00   매도  우리바이오  5350.0   4622  24727700
3412 1900-07-29 16:50:00   매수  아즈텍WB  4175.0  10000  41750000
3413 1900-07-29 17:10:00   매도  아즈텍WB  4070.0  10000  40700000

[3414 rows x 6 columns]

In [ ]:
# skarudvlf dkemf
# 거래제외 종목 확인
'''dic = {}

for i in range(len(df.index)):
  print(dic)
  if df.loc[i]['매매구분'] == '매수':
    if df.loc[i]['종목명'] not in list(dic):
      dic[df.loc[i]['종목명']] = df.loc[i]['수량']
    else:
      dic[df.loc[i]['종목명']] = dic[df.loc[i]['종목명']] + df.loc[i]['수량']
  elif df.loc[i]['매매구분'] == '매도':
    if df.loc[i]['종목명'] not in list(dic):
      pass
    else:
      dic[df.loc[i]['종목명']] = dic[df.loc[i]['종목명']] - df.loc[i]['수량']  '''

In [39]:
buy_df = df[df['매매구분'] == '매수'].reset_index(drop=True)
sell_df = df[df['매매구분'] == '매도'].reset_index(drop=True)
sell_df

0                   거래일자 매매구분    종목명   매수/매도가     수량      매매금액
0    1900-06-14 08:30:00   매도  라온시큐어   6070.0      8     48560
1    1900-06-14 08:30:00   매도  라온시큐어   6070.0   1222   7417540
2    1900-06-14 08:30:00   매도  라온시큐어   6070.0    860   5220200
3    1900-06-14 08:30:00   매도  라온시큐어   6070.0    650   3945500
4    1900-06-14 08:30:00   매도  라온시큐어   6070.0    329   1997030
...                  ...  ...    ...      ...    ...       ...
1870 1900-07-29 15:19:00   매도    큐라클  36650.0   1291  47315150
1871 1900-07-29 16:10:00   매도  우리바이오   5390.0    300   1617000
1872 1900-07-29 16:20:00   매도   나노캠텍   2350.0   7000  16450000
1873 1900-07-29 16:30:00   매도  우리바이오   5350.0   4622  24727700
1874 1900-07-29 17:10:00   매도  아즈텍WB   4070.0  10000  40700000

[1875 rows x 6 columns]

In [40]:
sell_dic = {}

for i in range(len(sell_df)):
  if sell_df.loc[i]['종목명'] not in list(sell_dic):
    sell_dic[sell_df.loc[i]['종목명']] = {'time':[sell_df.loc[i]['거래일자']], 'price':[sell_df.loc[i]['매수/매도가']], 'quant':[sell_df.loc[i]['수량']]}
  else:
    sell_dic[sell_df.loc[i]['종목명']]['time'].append(sell_df.loc[i]['거래일자'])
    sell_dic[sell_df.loc[i]['종목명']]['price'].append(sell_df.loc[i]['매수/매도가'])
    sell_dic[sell_df.loc[i]['종목명']]['quant'].append(sell_df.loc[i]['수량'])

sell_df = pd.DataFrame.from_dict(sell_dic).T

In [42]:
buy_dic = {}

for i in range(len(buy_df)):
  if buy_df.loc[i]['종목명'] not in list(buy_dic):
    buy_dic[buy_df.loc[i]['종목명']] = {'time':[buy_df.loc[i]['거래일자']], 'price':[buy_df.loc[i]['매수/매도가']], 'quant':[buy_df.loc[i]['수량']]}
  else:
    buy_dic[buy_df.loc[i]['종목명']]['time'].append(buy_df.loc[i]['거래일자'])
    buy_dic[buy_df.loc[i]['종목명']]['price'].append(buy_df.loc[i]['매수/매도가'])
    buy_dic[buy_df.loc[i]['종목명']]['quant'].append(buy_df.loc[i]['수량'])

buy_df = pd.DataFrame.from_dict(buy_dic).T

In [45]:
buy_df.iloc['이그잭스']

time     [1900-06-14 14:34:00, 1900-06-14 14:34:00, 190...
price    [1955.0, 1950.0, 1955.0, 1960.0, 1960.0, 1955....
quant          [11368, 5684, 432, 5784, 5694, 1720, 15000]
Name: 이그잭스, dtype: object

In [8]:
'''
1. 각/하루평균/전체 회전율
2. 수익률 (각,평균, 누적)
3. 시간대
'''

'\n1. 각/하루평균/전체 회전율\n2. 수익률 (각,평균, 누적)\n3. 시간대\n'

In [9]:
'''
1. 전 거래 제외 (수량으로)
2. 거래 시간대 *
'''

'\n1. 전 거래 제외 (수량으로)\n2. 거래 시간대 *\n'

In [16]:
dic

{'DSR제강': 0,
 'EDGC': 0,
 'GH신소재': 0,
 'KBI메탈': 0,
 'KCTC': 0,
 'KG ETS': 0,
 'NPC': 0,
 'SBI인베스트먼트': 0,
 'SK이노베이션': 0,
 'SM C&C': 0,
 '가비아': 0,
 '고려시멘트': 0,
 '골드퍼시픽': 0,
 '광명전기': 0,
 '까뮤이앤씨': 0,
 '나노캠텍': 0,
 '넥스트BT': 0,
 '넥스트사이언스': 0,
 '대교': 0,
 '대영포장': 0,
 '대우건설': 0,
 '대웅제약': 0,
 '대원전선': 0,
 '대한전선': 0,
 '데이타솔루션': 0,
 '덱스터': 0,
 '동국알앤에스': 0,
 '라이프시맨틱스': 0,
 '레몬': 0,
 '리더스 기술투자': 0,
 '메디콕스': 0,
 '메디톡스': 0,
 '바이오니아': 0,
 '바이오스마트': 0,
 '박셀바이오': 0,
 '베셀': 0,
 '보성파워텍': 0,
 '부광약품': 0,
 '블루베리 NFT': 0,
 '비덴트': 0,
 '비트컴퓨터': 0,
 '삼부토건': 0,
 '서린바이오': 0,
 '서울식품': 0,
 '서전기전': 0,
 '서호전기': 0,
 '선익시스템': 0,
 '셀리드': 0,
 '소마젠(Reg.S)': 0,
 '소프트캠프': 0,
 '솔루엠': 0,
 '시스웍': 0,
 '신성통상': 0,
 '신일전자': 0,
 '신일제약': 0,
 '신풍제약': 0,
 '쎄니트': 0,
 '씨젠': 0,
 '아모센스': 0,
 '아이마켓코리아': 0,
 '아이비김영': 0,
 '아즈텍WB': 0,
 '알체라': 0,
 '에넥스': 0,
 '에스씨디': 0,
 '에스트래픽': 0,
 '에스티팜': 0,
 '에쎈테크': 0,
 '에이트원': 0,
 '엑세스바이오': 0,
 '엑셈': 0,
 '엘앤에프': 0,
 '엠게임': 0,
 '오픈베이스': 0,
 '오하임아이엔티': 0,
 '옴니시스템': 0,
 '옵티시스': 0,
 '우리기술': 0,
 '우리기술투자': 0,
 '우리바이오': 0,
 '우리손에프앤지': 0,
 '우정바이오': 0,
 '웰크론': 0,
 '웰크론한텍': 0,
 '위즈코프': 0,
 '위지윅스튜디오': 0,
 '윈하이텍': 0,
 '유나이티드제약': 0,
 '유니온': 0,
 '유안타증권': 0,
 '유유제약': 0,
 '이건홀딩스': 0,
 '이그잭스': 0,
 '이루온': 0,
 '이씨에스': 0,
 '이연제약': 0,
 '인성정보': 0,
 '인트로메딕': 0,
 '인포뱅크': 0,
 '일성건설': 0,
 '일신석재': 0,
 '일진머티리얼즈': 0,
 '일진전기': 0,
 '자연과환경': 0,
 '자이언트스텝': 0,
 '정원엔시스': 0,
 '제넥신': 0,
 '제이엠티': 0,
 '줌인터넷': 0,
 '진매트릭스': 0,
 '진바이오텍': 0,
 '진원생명과학': 0,
 '초록뱀미디어': 0,
 '카스': 0,
 '카카오게임즈': 0,
 '켄코아에어로스페이스': 0,
 '코세스': 0,
 '큐라클': 0,
 '클라우드에어': 0,
 '키네마스터': 0,
 '태경비케이': 0,
 '태경케미컬': 0,
 '토박스코리아': 0,
 '티앤알바이오팹': 0,
 '티움바이오': 0,
 '티케이케미칼': 0,
 '팜스토리': 0,
 '펄어비스': 0,
 '평화산업': 0,
 '푸드웰': 0,
 '플랜티넷': 0,
 '피에스텍': 0,
 '피에이치씨': 0,
 '하림': 0,
 '한국비엔씨': 0,
 '한국선재': 0,
 '한국팩키지': 0,
 '한글과컴퓨터': 0,
 '한미사이언스': 0,
 '한빛소프트': 0,
 '한일단조': 0,
 '한일진공': 0,
 '한전산업': 0,
 '한창': 0,
 '한화에어로스페이스': 0,
 '홈센타홀딩스': 0,
 '화승코퍼레이션': 0,
 '휘닉스소재': 0,
 '휴마시스': 0}

In [11]:
  df.loc[0]['종목명']

'라온시큐어'

In [12]:
dic[df.loc[0]['종목명']]

KeyError: ignored