<a href="https://colab.research.google.com/github/yeonghun00/stock_public/blob/main/investment_managment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving hybrid.csv to hybrid.csv

In [10]:
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['hybrid.csv']), encoding='latin-1')
df

     È¸ Â÷     °Ë»ö½ÃÁ¡  ÀüÃ¼ Á¾¸ñ  ...  Unnamed: 6 ½ÃÀå´ëºñ¼öÀÍ·ü Unnamed: 8
0      NaN          NaN        NaN  ...      ÄÚ½º´Ú         ÄÚ½ºÇÇ     ÄÚ½º´Ú
1      1.0  '2006/01/01        6.0  ...      -5.79%        -12.69%     -7.15%
2      2.0  '2006/02/01       23.0  ...      +3.20%         +6.19%     +2.67%
3      3.0  '2006/03/01       21.0  ...      -2.51%        +12.45%    +14.09%
4      4.0  '2006/04/01       22.0  ...      +3.04%         +0.40%     +1.78%
..     ...          ...        ...  ...         ...            ...        ...
180  180.0  '2020/12/01        1.0  ...      +8.65%        -11.80%    -11.37%
181  181.0  '2021/01/01        1.0  ...      -1.19%         -3.44%     +4.12%
182  182.0  '2021/02/01        0.0  ...         NaN            NaN        NaN
183  183.0  '2021/03/01        0.0  ...         NaN            NaN        NaN
184  184.0  '2021/04/01        0.0  ...         NaN            NaN        NaN

[185 rows x 9 columns]

In [11]:
# Encoding 
df = df.rename(columns=dict(zip(df.columns.values, ["num", "date", "total_stocks", "increased_stocks", "average_profit", "market_kospi","market_kosdaq", "ratio_kospi", "ratio_kosdaq"])))

# drop index 0 and last, fill nan to 0%
df = df.drop([0, df.index[-1]]).fillna('0%')

# date, num to appropriate type
df['date'] = df['date'].apply(lambda x: x[1:]).astype('datetime64[ns]')
df['num'] = df['num'].apply(lambda x: int(x))

# Percentage to decimals
for i in df.columns[4:]:
    df[i] = df[i].apply(lambda x: (100+float(x[:-1]))/100)

In [12]:
df

     num       date  total_stocks  ...  market_kosdaq  ratio_kospi  ratio_kosdaq
1      1 2006-01-01           6.0  ...         0.9421       0.8731        0.9285
2      2 2006-02-01          23.0  ...         1.0320       1.0619        1.0267
3      3 2006-03-01          21.0  ...         0.9749       1.1245        1.1409
4      4 2006-04-01          22.0  ...         1.0304       1.0040        1.0178
5      5 2006-05-01           9.0  ...         0.8940       0.9783        0.9965
..   ...        ...           ...  ...            ...          ...           ...
179  179 2020-11-01           4.0  ...         1.1244       1.1573        1.1948
180  180 2020-12-01           1.0  ...         1.0865       0.8820        0.8863
181  181 2021-01-01           1.0  ...         0.9881       0.9656        1.0412
182  182 2021-02-01           0.0  ...         1.0000       1.0000        1.0000
183  183 2021-03-01           0.0  ...         1.0000       1.0000        1.0000

[183 rows x 9 columns]

In [25]:
# kelly criterion

# f = (b*p - q)/b
# f: 배팅 비율
# b: 배당률
# p: 승리 확률
# q: 패배 확률

In [26]:
from scipy import stats

b = stats.gmean(df['average_profit'].values)
p = df['increased_stocks'].sum() / df['total_stocks'].sum()
q = 1 - p

f = (b * p - q)/b
f

0.22738083174984472

In [27]:
# sharpe ratio

# sr = (rp-rf)/std
# rp: return of portfolio
# rf: risk free rate
# std: std of rp

In [41]:
rp = stats.gmean(df['average_profit'])
rf = stats.gmean(np.sqrt(df['market_kospi'] * df['market_kosdaq']))
std = np.std(df['average_profit'])

sr = (rp-rf)/std
sr

0.4905416376511336