<a href="https://colab.research.google.com/github/yeonghun00/stock_public/blob/main/macroecon_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests 
import pandas as pd
import json

url = 'http://ecos.bok.or.kr/api/StatisticTableList/NTD28IR6I6JDKW29OVKJ/json/kr/1/890'
response = requests.get(url)
contents = response.text
df = pd.DataFrame(json.loads(contents)['StatisticTableList']['row'])

In [2]:
# http://ecos.bok.or.kr/jsp/openapi/OpenApiController.jsp?t=guideStatCd&menuGroup=MENU000004&menuCode=MENU000024

api = 'NTD28IR6I6JDKW29OVKJ'
code = '901Y001'
unit = 'MM'
start_date = '20000101'
end_date = '20220101'
code2 = 'AI1AA'

In [3]:
url = 'http://ecos.bok.or.kr/api/StatisticSearch/' + api + '/json/kr/1/5000/' + f'{code}/{unit}/{start_date}/{end_date}/{code2}'
response = requests.get(url)
if response.status_code == 200:
    try:
        contents = response.text
    except Exception as e:
        print(str(e))

In [4]:
df = pd.DataFrame(json.loads(contents)['StatisticSearch']['row'])
df

    UNIT_NAME     STAT_NAME ITEM_CODE1  ... DATA_VALUE ITEM_NAME3    TIME
0          %   17.거시경제분석 지표      AI1AA  ...        1.9             200002
1          %   17.거시경제분석 지표      AI1AA  ...                        200003
2          %   17.거시경제분석 지표      AI1AA  ...                        200004
3          %   17.거시경제분석 지표      AI1AA  ...        1.3             200005
4          %   17.거시경제분석 지표      AI1AA  ...                        200006
..        ...           ...        ...  ...        ...        ...     ...
249        %   17.거시경제분석 지표      AI1AA  ...        1.1             202011
250        %   17.거시경제분석 지표      AI1AA  ...                        202012
251        %   17.거시경제분석 지표      AI1AA  ...                        202101
252        %   17.거시경제분석 지표      AI1AA  ...        1.7             202102
253        %   17.거시경제분석 지표      AI1AA  ...                        202103

[254 rows x 11 columns]