<a href="https://colab.research.google.com/github/yeonghun00/stock_public/blob/main/profitability_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
code = '194480'

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import datetime

class Stock:
  def __init__(self, code, start_page:int=1, end_page:int=26):
    self.code = code
    self.start_page = start_page
    self.end_page = end_page
    self.df = self.do_it()

  def page_to_df(self, page):
    url = "https://finance.naver.com/item/sise_day.nhn?code=" + self.code + "&page=" + str(page)
    headers = {'User-Agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36'}
    result = requests.get(url, headers = headers)
    bs_obj = BeautifulSoup(result.content, "html.parser")
    tr = bs_obj.find_all("tr", {'onmouseover':'mouseOver(this)', 'onmouseout':"mouseOut(this)"})
    data_dict = {}
    for i in range(10):
      try: 
        spans = tr[i].find_all('span')
        lines = [span.get_text() for span in spans]
        lines = list(map(lambda x: x.replace(',',''), lines))

        objdate = datetime.datetime.strptime(lines[0], '%Y.%m.%d')
        data_dict[objdate] = lines[1:]
      except:
        break
      
    df = pd.DataFrame.from_dict(data_dict).transpose()
    df.columns = ['Close','_','Open',
                        'High','Low','Volume']
    df = df.drop(columns="_")

    return df

  def do_it(self):
    df = self.page_to_df(self.start_page)
    # max 9999
    # 1 page = 10 days
    for i in range(self.start_page, self.end_page): 
      try: 
        if (any(self.page_to_df(i).index != self.page_to_df(i-1).index)):
          df = df.append(self.page_to_df(i))
          print('.', end = '')
          if (i%100==0):
            print(i)
        else:
          break
      except:
        df = df.append(self.page_to_df(i))
    df = df.sort_index(axis = 0) 
    for i in ['Close', 'Open', 'High', 'Low', 'Volume']:
      df[i] = df[i].astype(int)
    return df

  def get_df(self):
    return self.df

  
  def get_code_name(self):
    url = 'https://finance.naver.com/item/main.nhn?code=' + str(self.code)
    result = requests.get(url, headers = {'User-Agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36'})
    bs_obj = BeautifulSoup(result.content, "html.parser")
    name = bs_obj.find_all("div", {'class':'wrap_company'})
    return name[0].find_all('h2')[0].get_text()

In [5]:
stock = Stock(code, 1, 1)
stock.get_df()

             Close    Open    High     Low   Volume
2021-03-16   62500   63900   64900   61600   145574
2021-03-17   76400   63800   76900   62700  1220055
2021-03-18   82600   75400   85700   73600   618997
2021-03-19   89000   82500   90200   81300   429657
2021-03-22  100500   90300  100500   90300   753908
2021-03-23   99900  103000  107700   95000   690709
2021-03-24  103800  101300  103800   96000   320073
2021-03-25  133000  105000  134900  104200  1478594
2021-03-26  124300  133300  161000  120000  2938517
2021-03-29  134000  125600  134300  117500  1116440

In [15]:
url = 'https://finance.naver.com/item/main.nhn?code=' + '194480'
headers = {'User-Agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36'}
result = requests.get(url, headers = headers)
bs_obj = BeautifulSoup(result.content, "html.parser")
tr = bs_obj.find_all("div", {'class':'section cop_analysis'})


'''
tr = bs_obj.find_all("tr", {'onmouseover':'mouseOver(this)', 'onmouseout':"mouseOut(this)"})
data_dict = {}


for i in range(10):
  try: 
    spans = tr[i].find_all('span')
    lines = [span.get_text() for span in spans]
    lines = list(map(lambda x: x.replace(',',''), lines))

    objdate = datetime.datetime.strptime(lines[0], '%Y.%m.%d')
    data_dict[objdate] = lines[1:]
  except:
    break
  
df = pd.DataFrame.from_dict(data_dict).transpose()
df.columns = ['Close','_','Open',
                    'High','Low','Volume']
df = df.drop(columns="_")

return df
'''

tr

[<div class="section cop_analysis">
 <h4 class="h_sub sub_tit6"><span>기업실적분석</span></h4>
 <div class="sub_section">
 <table class="tb_type1 tb_num tb_type1_ifrs" summary="기업실적분석에 관한표이며 주요재무정보를 최근 연간 실적, 분기 실적에 따라 정보를 제공합니다.">
 <caption>기업실적분석 테이블</caption>
 <colgroup>
 <col width="86"/>
 <col width="59"/>
 <col width="59"/>
 <col width="59"/>
 <col width="62"/>
 <col width="58"/>
 <col width="58"/>
 <col width="58"/>
 <col width="58"/>
 <col/>
 </colgroup>
 <thead>
 <tr class="t_line">
 <th class="h_th2 th_cop_anal5 b_line" rowspan="3"><strong>주요재무정보</strong></th>
 <th class="h_th2 th_cop_anal6" colspan="4" scope="col"><strong>최근 연간 실적</strong></th>
 <th class="h_th2 th_cop_anal7 last" colspan="6" scope="col"><strong>최근 분기 실적</strong></th>
 </tr>
 <tr>
 <th class="" scope="col">
 											2017.12
 										</th>
 <th class="" scope="col">
 											2018.12
 										</th>
 <th class="" scope="col">
 											2019.12
 										</th>
 <th class="t_line cell_strong" scope="col">
 											2020.12<em>(E)</em>
 </th>
 <th class="" scope="col">
 											2019.09
 										</th>
 <th class="" scope="col">
 											2019.12
 										</th>
 <th class="" scope="col">
 											2020.03
 										</th>
 <th class="" scope="col">
 											2020.06
 										</th>
 <th class="" scope="col">
 											2020.09
 										</th>
 <th class="last cell_strong" scope="col">
 											2020.12<em>(E)</em>
 </th>
 </tr>
 <tr class="b_line">
 <th class="link_ifrs" scope="col"><span>



 											IFRS연결

 									</span></th>
 <th class="link_ifrs" scope="col"><span>



 											IFRS연결

 									</span></th>
 <th class="link_ifrs" scope="col"><span>



 											IFRS연결

 									</span></th>
 <th class="link_ifrs t_line cell_strong" scope="col"><span>



 											IFRS연결

 									</span></th>
 <th class="link_ifrs" scope="col"><span>



 											IFRS연결

 									</span></th>
 <th class="link_ifrs" scope="col"><span>



 											IFRS연결

 									</span></th>
 <th class="link_ifrs" scope="col"><span>



 											IFRS연결

 									</span></th>
 <th class="link_ifrs" scope="col"><span>



 											IFRS연결

 									</span></th>
 <th class="link_ifrs" scope="col"><span>



 											IFRS연결

 									</span></th>
 <th class="link_ifrs last cell_strong" scope="col"><span>



 											IFRS연결

 									</span></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <th class="h_th2 th_cop_anal8" scope="row"><strong>매출액</strong></th>
 <td class="">



 				172


 										</td>
 <td class="">



 				357


 										</td>
 <td class="">



 				376


 										</td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">



 				87


 										</td>
 <td class="">



 				117


 										</td>
 <td class="">



 				183


 										</td>
 <td class="">



 				171


 										</td>
 <td class="">



 				177


 										</td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr>
 <th class="h_th2 th_cop_anal9" scope="row"><strong>영업이익</strong></th>
 <td class="">
 <em class="f_up">
 				-148
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-123
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-222
 				</em>
 </td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">
 <em class="f_up">
 				-47
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-76
 				</em>
 </td>
 <td class="">



 				5


 										</td>
 <td class="">
 <em class="f_up">
 				-12
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-3
 				</em>
 </td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr class="line_end">
 <th class="h_th2 th_cop_anal10" scope="row"><strong>당기순이익</strong></th>
 <td class="">
 <em class="f_up">
 				-190
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-184
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-139
 				</em>
 </td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">
 <em class="f_up">
 				-28
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-125
 				</em>
 </td>
 <td class="">



 				10


 										</td>
 <td class="">
 <em class="f_up">
 				-5
 				</em>
 </td>
 <td class="">



 				3


 										</td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr>
 <th class="h_th2 th_cop_anal11" scope="row"><strong>영업이익률</strong></th>
 <td class="">
 <em class="f_up">
 				-86.25
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-34.51
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-59.01
 				</em>
 </td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">
 <em class="f_up">
 				-54.04
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-64.72
 				</em>
 </td>
 <td class="">



 				2.84


 										</td>
 <td class="">
 <em class="f_up">
 				-7.01
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-1.58
 				</em>
 </td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr>
 <th class="h_th2 th_cop_anal12" scope="row"><strong>순이익률</strong></th>
 <td class="">
 <em class="f_up">
 				-110.47
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-51.49
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-36.97
 				</em>
 </td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">
 <em class="f_up">
 				-32.04
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-106.89
 				</em>
 </td>
 <td class="">



 				5.69


 										</td>
 <td class="">
 <em class="f_up">
 				-3.12
 				</em>
 </td>
 <td class="">



 				1.45


 										</td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr class="line_end">
 <th class="h_th2 th_cop_anal13" scope="row"><strong>ROE(지배주주)</strong></th>
 <td class="">
 <em class="f_up">
 				-13.26
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-14.33
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-12.10
 				</em>
 </td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">
 <em class="f_up">
 				-9.95
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-12.10
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-6.71
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-12.66
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-10.10
 				</em>
 </td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr>
 <th class="h_th2 th_cop_anal14" scope="row"><strong>부채비율</strong></th>
 <td class="">



 				10.47


 										</td>
 <td class="">



 				15.82


 										</td>
 <td class="">



 				20.52


 										</td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">



 				19.04


 										</td>
 <td class="">



 				20.52


 										</td>
 <td class="">



 				18.76


 										</td>
 <td class="">



 				19.85


 										</td>
 <td class="">



 				22.00


 										</td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr>
 <th class="h_th2 th_cop_anal15" scope="row"><strong>당좌비율</strong></th>
 <td class="">



 				4,988.92


 										</td>
 <td class="">



 				1,355.01


 										</td>
 <td class="">



 				769.90


 										</td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">



 				1,162.61


 										</td>
 <td class="">



 				769.90


 										</td>
 <td class="">



 				1,304.11


 										</td>
 <td class="">



 				1,026.46


 										</td>
 <td class="">



 				682.10


 										</td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr class="line_end">
 <th class="h_th2 th_cop_anal16" scope="row"><strong>유보율</strong></th>
 <td class="">



 				2,887.16


 										</td>
 <td class="">



 				2,660.94


 										</td>
 <td class="">



 				2,417.44


 										</td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">



 				2,641.57


 										</td>
 <td class="">



 				2,417.44


 										</td>
 <td class="">



 				2,438.17


 										</td>
 <td class="">



 				2,430.56


 										</td>
 <td class="">



 				2,424.45


 										</td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr>
 <th class="h_th2 th_cop_anal17" scope="row"><strong>EPS(원)</strong></th>
 <td class="">
 <em class="f_up">
 				-1,686
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-1,613
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-1,188
 				</em>
 </td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">
 <em class="f_up">
 				-240
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-1,083
 				</em>
 </td>
 <td class="">



 				104


 										</td>
 <td class="">
 <em class="f_up">
 				-38
 				</em>
 </td>
 <td class="">



 				28


 										</td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr>
 <th class="h_th2 th_cop_anal20" scope="row"><strong>PER(배)</strong></th>
 <td class="">
 <em class="f_up">
 				-8.69
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-5.08
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-6.14
 				</em>
 </td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">
 <em class="f_up">
 				-6.76
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-6.14
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-8.79
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-6.54
 				</em>
 </td>
 <td class="">
 <em class="f_up">
 				-8.32
 				</em>
 </td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr>
 <th class="h_th2 th_cop_anal18" scope="row"><strong>BPS(원)</strong></th>
 <td class="">



 				13,601


 										</td>
 <td class="">



 				11,735


 										</td>
 <td class="">



 				10,338


 										</td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">



 				11,650


 										</td>
 <td class="">



 				10,338


 										</td>
 <td class="">



 				10,465


 										</td>
 <td class="">



 				10,418


 										</td>
 <td class="">



 				10,396


 										</td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr class="line_end">
 <th class="h_th2 th_cop_anal21" scope="row"><strong>PBR(배)</strong></th>
 <td class="">



 				1.08


 										</td>
 <td class="">



 				0.70


 										</td>
 <td class="">



 				0.71


 										</td>
 <td class=" null t_line cell_strong">


 										</td>
 <td class="">



 				0.63


 										</td>
 <td class="">



 				0.71


 										</td>
 <td class="">



 				0.54


 										</td>
 <td class="">



 				0.79


 										</td>
 <td class="">



 				0.79


 										</td>
 <td class=" null last cell_strong">


 										</td>
 </tr>
 <tr>
 <th class="h_th2 th_cop_anal19" scope="row"><strong>주당배당금(원)</strong></th>
 <td class="no_data 2">
 </td>
 <td class="">


 				-


 										</td>
 <td class="">


 				-


 										</td>
 <td class="no_data 2 t_line cell_strong">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2 last cell_strong">
 </td>
 </tr>
 <tr>
 <th class="h_th2 th_cop_anal22" scope="row"><strong>시가배당률(%)</strong></th>
 <td class="no_data 2">
 </td>
 <td class="">


 				-


 										</td>
 <td class="">


 				-


 										</td>
 <td class="no_data 2 t_line cell_strong">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2 last cell_strong">
 </td>
 </tr>
 <tr>
 <th class="h_th2 th_cop_anal23" scope="row"><strong>배당성향(%)</strong></th>
 <td class="">


 				-


 										</td>
 <td class="">


 				-


 										</td>
 <td class="">


 				-


 										</td>
 <td class="no_data 2 t_line cell_strong">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2">
 </td>
 <td class="no_data 2 last cell_strong">
 </td>
 </tr>
 </tbody>
 </table>
 </div>
 <div class="dsc_ifrs">
 <ul>
 <li>분기 실적은 해당 분기까지의 누적 실적에서 직전 분기까지의 누적 실적을 차감하는 방식으로 계산되므로,<br/>기업에서 공시한 분기 실적과 차이가 있을 수 있습니다.</li>
 <li>컨센서스(<em>E</em>) : 최근 3개월간 증권사에서 발표한 전망치의 평균값입니다.</li>
 </ul>
 </div>
 <div class="ly_moreifrs" style="display:none">
 <ul class="blind">
 <li> 손익계산서
 									<dl>
 <dt>조정영업이익</dt>
 <dd>매출액-매출원가-판관비</dd>
 <dt>지배주주지분</dt>
 <dd>지배회상의 지분에 귀속되는 당기순이익</dd>
 <dt>비지배주주지분</dt>
 <dd>종속회사의 지분에 귀속되는 당기순이익</dd>
 </dl>
 </li>
 <li> 수익성
 									<dl>
 <dt>조정영업이익률</dt>
 <dd>조정영업이익/매출액</dd>
 <dt>ROE(지배주주지분)</dt>
 <dd>지배주주지분 당기순이익 / (자본총계 - 비지배주주지분)</dd>
 </dl>
 </li>
 <li> 가치지표
 									<dl>
 <dt>EPS(지배주주지분)</dt>
 <dd>지배주주지분 당기순이익/지배주주 평균발행주식수(우선주+보통주)</dd>
 <dt>BPS(지배주주지분</dt>
 <dd>지배주주지분 귀속 순자산/지배주주 기말발행주식(우선주+보통주)</dd>
 </dl>
 </li>
 </ul>
 </div>
 <div class="dummy"></div>
 <span class="btn_more"><a href="/item/coinfo.nhn?code=194480&amp;target=finsum_more">더보기</a></span>
 </div>]

In [12]:
bs_obj

<html lang="ko">
<head>
<title>데브시스터즈 : 네이버 금융</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="text/javascript" http-equiv="Content-Script-Type"/>
<meta content="text/css" http-equiv="Content-Style-Type"/>
<meta content="https://finance.naver.com/item/main.nhn?code=194480" property="og:url">
<meta content="데브시스터즈 - 네이버 금융 : 네이버 금융" property="og:title">
<meta content="관심종목의 실시간 주가를 가장 빠르게 확인하는 곳" property="og:description"/>
<meta content="https://ssl.pstatic.net/static/m/stock/im/2016/08/og_stock-200.png" property="og:image"/>
<meta content="article" property="og:type"/>
<meta content="" property="og:article:thumbnailUrl"/>
<meta content="네이버금융" property="og:article:author"/>
<meta content="http://FINANCE.NAVER.COM" property="og:article:author:url"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/css/finance_header.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/css/newstock.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/css/common.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/css/main.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/css/newstock2.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/css/newstock3.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/css/world.css" rel="stylesheet" type="text/css"/>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/js/jindo.min.ns.1.5.3.euckr.js" type="text/javascript"></script>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/js/release/common.js" type="text/javascript"></script>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/js/jindoComponent/jindo.Component.1.0.3.js" type="text/javascript"></script>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/js/nhn.autocomplete.stock.js" type="text/javascript"></script>
<link href="https://www.naver.com/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<script type="text/javascript">
    (function(){
        var sUserAgent = navigator.userAgent;
        if(/iPhone|iPad/.test(sUserAgent)){
            document.write(
                [
					'<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://ssl.pstatic.net/static/nfinance/ico/2018_ios_120X120_iphone.png" />',
					'<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://ssl.pstatic.net/static/nfinance/ico/2018_ios_152x152_ipad.png" />',
					'<link rel="apple-touch-icon-precomposed" sizes="167x167" href="https://ssl.pstatic.net/static/nfinance/ico/2018_ios_167x167_ipad_pro.png" />',
					'<link rel="apple-touch-icon-precomposed" sizes="180x180" href="https://ssl.pstatic.net/static/nfinance/ico/2018_ios_180x180_iphone.png" />'
                ]
                .join('\n')
            );
        }

        if(/Android/.test(sUserAgent)){
            document.write(
                [
                    '<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://ssl.pstatic.net/static/nfinance/ico/2018_android_72x72_xxxhpdi.png" />',
                    '<link rel="apple-touch-icon-precomposed" sizes="96x96" href="https://ssl.pstatic.net/static/nfinance/ico/2018_android_96x96_xxxhpdi.png" />',
                    '<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://ssl.pstatic.net/static/nfinance/ico/2018_android_144x144_xxxhpdi.png" />',
                    '<link rel="apple-touch-icon-precomposed" sizes="192x192" href="https://ssl.pstatic.net/static/nfinance/ico/2018_android_192x192_xxxhpdi.png" />'
				]
				.join('\n')
			);
        }
    })();
    </script>
</meta></meta></head>
<body onload="getGNB();">
<script type="text/javascript">
	document.domain = 'naver.com';
	var nclk_evt = 3;
	nclk_do();
</script>
<script type="text/javascript">







var nsc="finance.stockend";


var ccsrv="cc.naver.com";




	var gnb_service='finance';



var gnb_logout=document.URL; //GNB에서 로그아웃 후 redirect 될 URL
var gnb_searchbox='off'; //미니 검색창을 on 할지 off 할지. default는 off
var gnb_shortnick='off'; //닉네임 말줄임(10자)을 on할지 off 할지. default는 off.


var gnb_naverme_layer_open_callback = function(){
	   var naverLayerSize = gnbNaverMeLayer.getLayerSize();

		var me_layers = document.getElementById("me_layers");
		me_layers.width=naverLayerSize.width;
		me_layers.height=naverLayerSize.height;};

var gnb_naverme_layer_close_callback = function(){

			var me_layers = document.getElementById("me_layers");
			me_layers.width="0";
			me_layers.height="0";};
</script>
<div id="u_skip">
<a href="#menu" tabindex="1"><span>메인 메뉴로 바로가기</span></a>
<a href="#middle" tabindex="2"><span>본문으로 바로가기</span></a>
</div>
<div id="header">
<div class="snb_area">
<div class="snb_inner">
<div id="gnb_area">
<div id="gnb">
<script charset="EUC-KR" type="text/javascript">
					var gnb_service = "gnbtest";
                    var gnb_template = location.protocol == "http:" ? "gnb_quirks_euckr" : "gnb_utf8" ;
					var gnb_dark = false;
					var gnb_brightness = 1;
					var gnb_logout=encodeURIComponent(location.href);
					var gnb_one_naver = 1;
					</script>
<script charset="utf-8" src="https://ssl.pstatic.net/static.gn/templates/gnb_utf8.nhn?20210329" type="text/javascript">
</script>
</div>
</div>
<div class="sta">
<h1 class="logo"> <a class="logo_naver" href="https://www.naver.com/" onclick="clickcr(this, 'STA.naver', '', '', event);"><span class="blind">네이버</span></a>
<a class="logo_service" href="/" onclick="clickcr(this, 'STA.finance', '', '', event);"><span class="blind">금융</span></a> </h1>
<form action="/search/search.nhn" method="get" name="search" onsubmit="return delayed_submit(this)" style="margin:0; padding:0;">
<fieldset>
<legend>검색</legend>
<div class="snb_search_box">
<div class="snb_search_box_sub">
<input accesskey="s" autocomplete="off" class="snb_search_text snb_default" id="stock_items" name="query" title="검색" type="text" value="종목명·지수명·펀드명·환율명·원자재명 입력"/>
<a class="btn_arrow" href="#" id="nautocomplete" onclick="return false"><span class="blind">자동완성 펼치기</span></a>
</div>
<div class="auto_area">
<h2 class="blind">자동완성</h2>
<iframe frameborder="0" height="0" id="autoFrame" marginheight="0" marginwidth="0" scrolling="no" src="/ac/reatcmp.nhn?menu=stockend&amp;submenu=" style="display: none;" title="자동완성" width="400"></iframe>
</div>
<button alt="검색" class="snb_search_btn" onclick="clickcr(this, 'STA.search', '', '', event);" type="submit"><span class="blind">검색</span></button>
<a class="snb_search_btn-total" href="#" onclick="itegrationSearch();clickcr(this, 'STA.nx', '', '', event);return false;" target="_blank">통합검색</a>
</div>
</fieldset>
</form>
</div>
</div>
</div>
<div class="lnb_area ">
<div class="lnb_inner">
<div id="menu">
<ul class="menu">
<li class="m1 first "><a href="/" onclick="clickcr(this, 'LNB.home', '', '', event);"><span class="tx">금융 홈</span></a></li>
<li class="m2 on"><a href="/sise/" onclick="clickcr(this, 'LNB.sise', '', '', event);"><span class="tx">국내증시</span></a></li>
<li class="m3 "><a href="/world/" onclick="clickcr(this, 'LNB.world', '', '', event);"><span class="tx">해외증시</span></a></li>
<li class="m4 "><a href="/marketindex/" onclick="clickcr(this, 'LNB.market', '', '', event);"><span class="tx">시장지표</span></a></li>
<li class="m5 "><a href="/fund/" onclick="clickcr(this, 'LNB.fund', '', '', event);"><span class="tx">펀드</span></a>
</li>
<li class="m6 "><a href="/research/" onclick="clickcr(this, 'LNB.research', '', '', event);"><span class="tx">리서치</span></a></li>
<li class="m7 "><a href="/news/"><span class="tx">뉴스</span></a></li>
<li class="m8 "><a href="/mystock/" onclick="clickcr(this, 'LNB.mystock', '', '', event);"><span class="tx">MY</span></a></li>
</ul>
</div>
</div>
</div>
<script type="text/JavaScript">
		/* lcs 집계 */
        ;(function(){
            var eventType = "onpageshow" in window ? "pageshow" : "load";
            jindo.$Fn(function(){
                lcs_do();
            }).attach(window, eventType);
        })();

		/* 검색 자동완성 [ 인자1 : 검색input의 ID, 인자2 : iframe 태그 ID ]   */
		// AutoComplete 생성
		var acDomain = "ac.finance.naver.com";
        if (location.hostname.indexOf("staging-") > -1) {
            acDomain = "staging-" + acDomain;
        } else if (location.hostname.indexOf("dev-") > -1 || location.hostname.indexOf("localhost") > -1 || location.hostname.indexOf("local-") > -1) {
			acDomain = "dev-" + acDomain;
		}

        var acUrl = "https://" + acDomain + "/ac";

		smartSearch = new nhn.Autocomplete(
			// InputManager 생성
			new nhn.AcInputManager(jindo.$("stock_items")),
			// DataManager 생성
			new nhn.AcDataManager(acUrl, "jsonp", "get", {
                    st: "111",
                    r_lt : "111",
                    q_enc : "euc-kr",
                    r_enc : "euc-kr",
                    frm: "stock"}),
			// ViewManager 생성
			new nhn.AcStockViewManager(jindo.$("autoFrame"), jindo.$("nautocomplete"), {
                                        strMax: 200,
                                        listMax: [7, 2, 2],
                                        aRedirectUrl : [
                            			"https://finance.naver.com",
                            			"https://finance.naver.com",
                            			"https://finance.naver.com"]}),
			// Autocomplete Option
            {formId:"search", cookieDomain:location.hostname, cookieName:"NaverCommonStock"});

			smartSearch.attach({
	            onFocus: function () {
	                var weInput = jindo.$Element('stock_items');
	                if (weInput && weInput.hasClass("snb_default")) {
	                        weInput.text("");
	                        weInput.removeClass('snb_default');
	                }
	            }
	        });

		/* 통합검색  start ----->  */
		document.domain = 'naver.com';
		var sSearchHintText = '종목명·지수명·펀드명·환율명·원자재명 입력';
		function itegrationSearch() {
			var query = jindo.$('stock_items').value;

			if ( query == ''  || encodeURIComponent(query) == encodeURIComponent(sSearchHintText))
			{
				alert ( '검색어를 입력해 주세요.' );
				return;
			}

            var url = location.protocol + "//search.naver.com/search.naver?sm=sta_hty.finance&where=nexearch&ie=UTF8&query=" + encodeURIComponent(query);
            window.open(url, "_blank");

			return false;
		}

		function delayed_submit(object) {
			if (navigator.userAgent.indexOf('MSIE') == -1) {
				window.setTimeout(function() {stock_search(object)}, 300);
			} else {
				stock_search(object);
			}
			return false;
		}

		function stock_search (object)
		{
			query = object.query.value.replace(/^\s*/,'').replace(/\s*$/,'');	// trim
			object.query.value=query;

			if ( query == '' || query == sSearchHintText.replace(/^\s*/,'').replace(/\s*$/,''))
			{
				alert ( '검색어를 입력해 주세요.' );
				return;
			}
			else {
				object.submit();
			}
		}
		/* <---------- 통합검색  end */

		function popup()
		{
			win = window.open('/template/group_limit_pop.jsp','finan_popup','width=569 height=278 scrollbars=no status=no');
			win.focus();
		}
	</script>
<iframe frameborder="0" height="0" id="me_layers" name="test" scrolling="no" style="display:block;top: 22px; right: 209px; position: absolute; z-index: 15;" title="네이버미 영역" width="0"></iframe>
</div>
<div id="wrap">
<script language="javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/js/ellipse.js"></script>
<script type="text/javascript">
	function financialInfoCommentToggle() {
		if(jindo.$Element(jindo.$$.getSingle("div.ly_moreifrs")).visible()) {
			jindo.$Element(jindo.$$.getSingle("a.more_ifrs")).html("항목별 상세기준 보기");
			jindo.$Element(jindo.$$.getSingle("a.more_ifrs")).removeClass("fd");
		} else {
			jindo.$Element(jindo.$$.getSingle("a.more_ifrs")).html("항목별 상세기준 닫기");
			jindo.$Element(jindo.$$.getSingle("a.more_ifrs")).addClass("fd");
		}
		jindo.$Element(jindo.$$.getSingle("div.ly_moreifrs")).toggle();
	}

</script>
<script language="javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/js/recent_code.js"></script>
<script language="javascript">addCode('194480');</script>
<script language="JavaScript" src="https://ssl.pstatic.net/imgstock/static.pc/20210325123932/js/summary.js"></script>
<script language="JavaScript">fchartStatus.setChartStatus('on');</script>
<style>

.hide_chart {
position: absolute;
top: 0;
left: -9999px;
}
</style>
<div class="new_totalinfo" id="middle">
<dl class="blind">
<dt>종목 시세 정보</dt>
<dd>2021년 03월 29일 16시 10분 기준 장마감</dd>
<dd>종목명 데브시스터즈</dd>
<dd>종목코드 194480 코스닥</dd>
<dd>현재가 134,000 전일대비 상승 9,700 플러스 7.80 퍼센트</dd>
<dd>전일가 124,300</dd>
<dd>시가 125,600</dd>
<dd>고가 134,300</dd>
<dd>상한가 161,500</dd>
<dd>저가 117,500</dd>
<dd>하한가 87,100</dd>
<dd>거래량 1,116,440</dd>
<dd>거래대금 140,367백만</dd>
</dl>
<div class="h_company">
<div class="wrap_company">
<h2><a href="#" onclick="clickcr(this, 'sop.title', '', '', event);window.location.reload();">데브시스터즈</a></h2>
<div class="description">
<span class="code">194480</span>
<img alt="코스닥" class="kosdaq" height="16" src="https://ssl.pstatic.net/imgstock/item_renewal/btn_kosdaq.gif" width="33"/>
<span class="blind">날짜</span>
<span id="time">
<em class="date">2021.03.29 <span>기준(장마감)</span></em>
</span>
<em class="realtime">
<span class="blind">실시간</span>
</em>
<em class="summary">
<a href="#" onclick="togglePannel('summary_lyr'); return false;"></a>
<span class="blind">기업개요</span>
<div class="summary_lyr" id="summary_lyr" style="display:none;top:22px;left:0">
<iframe frameborder="0" height="" id="summary_ifr" name="summary_ifr" scrolling="no" src="" style="position:absolute;left:0;top:-2;z-index:20" width="410"></iframe>
<div class="summary_info" id="summary_info">
<h4>기업개요</h4>
<p>동사는 설립이후 게임 컨텐츠 개발 및 서비스 사업을 영위하며 대표 서비스 게임은 '쿠키런:오븐브레이크', '쿠키런:킹덤' 등이 있음.</p>
<p>동사는' 쿠키런'IP의 장르 확장과 다양한 신규IP 기반 게임(대규모 월드건설 게임, 3D건슈팅, 쿠키런IP기반 3D 게임)들을 개발 중에 있음.</p>
<p>2021년 1월 쿠키런 IP 기반 수집형 SNRPG를 출시하여 초반 흥행 추이를 보이고 있으며 개발중인 라인업들이 2021년내 순차적 출시 예정.</p>
<div class="txt_notice">출처 : 에프앤가이드</div>
<div class="btn_area_top">
<a href="#" onclick="hidePannel('summary_lyr'); return false;"><img alt="닫기" height="11" src="https://ssl.pstatic.net/static/nfinance/img/btn_close.gif" width="11"/></a>
</div>
<div class="bg_btm"></div>
</div>
<span class="bg_lt"></span>
<span class="bg_rt"></span>
<div class="bu_arrow"></div>
</div>
</em>
</div>
</div>
<div class="quick">
<p>
<a class="snb_top1" href="#" onclick="clickcr(this,'sop.2','','',event);"><span class="blind">MY STOCK 추가</span></a>
<a class="snb_top3" href="javascript:quickorder('on')" onclick="clickcr(this,'sop.3','','',event);"><span class="blind">빠른주문</span></a>
</p>
<div class="ly_lstmove blind NE=a:sop*m">
<span class="bg"></span>
<div class="txt _ly_group">
<div class="bx_sel scr_white2 _ly_group_list">
<ul></ul>
</div>
<div class="bx_sel _ly_group_blank" style="display:none;">
<p class="txt_inner type7">추가할 그룹이 없습니다.<br/>그룹을 추가해주세요.</p>
</div>
<p class="rgt"><button class="btn_spr btn_groupadd2 NPI=a:add" type="button"><span class="blind">그룹추가</span></button></p>
<p>
<button class="btn_spr btn_cfm2 _btn_ok NPI=a:confirm" type="button"><span class="blind">확인</span></button>
<button class="btn_spr btn_clse2 _btn_cancel NPI=a:close" type="button"><span class="blind">닫기</span></button>
</p>
</div>
<div class="txt _ly_message" style="display:none;">
</div>
</div>
<div class="layer_quick_order" id="quickOrderArea" style="display:none">
<div class="content">
<h5>네이버 주식거래연결<br/>빠른 주문을 도와드립니다!</h5>
<ul>
<li>본 서비스는 고객님의 빠른 주문을 돕기 위해<br/><span>증권사의 로그인을 연결</span>해드리고 있습니다.</li>
<li>고객님이 보유하고 계신 증권사를 클릭한 후<br/><span>증권사의 아이디, 비밀번호, 공인인증서로 주문</span>을<br/>하실 수 있습니다. </li>
<li>증권사 로그인 이후 시스템 문제가 발생하면,<br/><span>증권사 고객센터로 직접 문의</span> 하시기 바랍니다.   </li>
<li>네이버는 증권사 서비스의 시스템 장애에 따른<br/>법적 책임을 지지 않습니다. </li>
</ul>
<div class="ci_area">
<div id="quickOrderCiBanner0"></div>
<div id="quickOrderCiBanner1"></div>
<div id="quickOrderCiBanner2"></div>
<div id="quickOrderCiBanner3"></div>
</div>
<div class="btn_area_btm"><a href="javascript:quickorder('off')"><img alt="닫기" height="20" src="https://ssl.pstatic.net/imgstock/item_renewal/btn_close.gif" width="38"/></a></div>
<div class="btn_area_top"><a href="javascript:quickorder('off')"><img alt="닫기" height="19" src="https://ssl.pstatic.net/imgstock/item_renewal/btn_close_x.gif" width="19"/></a></div>
</div>
</div>
</div>
</div>
<div class="content_wrap">
<div id="content">
<div class="spot" id="chart_area"><!-- chart가 사라질때  <div class="spot spot_short">-->
<div class="rate_info">
<dl class="blind">
<dt><strong>데브시스터즈</strong></dt>
<dd>오늘의시세 134,000 포인트</dd>
<dd>9,700 포인트 상승</dd>
<dd>7.80% 플러스</dd>
</dl>
<div class="today">
<p class="no_today">
<em class="no_up">
<span class="blind">134,000</span>
<span class="no1">1</span><span class="no3">3</span><span class="no4">4</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>
<p class="no_exday">
<span class="sptxt sp_txt1">전일대비</span>
<em class="no_up">
<span class="ico up">상승</span>
<span class="blind">9,700</span>
<span class="no9">9</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="bar">l</span>
<em class="no_up">
<span class="ico plus">+</span>
<span class="blind">7.80</span>
<span class="no7">7</span><span class="jum">.</span><span class="no8">8</span><span class="no0">0</span>
<span class="per">%</span>
</em>
</p>
</div>
<table class="no_info" summary="주요 시세(전일종가, 시고저가, 거래량, 거래대금)을 제공합니다.">
<caption>주요 시세</caption>
<colgroup><col/><col width="214"/><col width="157"/></colgroup>
<tr>
<td class="first">
<span class="sptxt sp_txt2">전일</span>
<em>
<span class="blind">124,300</span>
<span class="no1">1</span><span class="no2">2</span><span class="no4">4</span><span class="shim">,</span><span class="no3">3</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt4">고가</span>
<em class="no_up">
<span class="blind">134,300</span><span class="no1">1</span><span class="no3">3</span><span class="no4">4</span><span class="shim">,</span><span class="no3">3</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt6">(상한가</span>
<em class="no_cha">
<span class="blind">161,500</span><span class="no1">1</span><span class="no6">6</span><span class="no1">1</span><span class="shim">,</span><span class="no5">5</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt9">거래량</span>
<em>
<span class="blind">1,116,440</span>
<span class="no1">1</span><span class="shim">,</span><span class="no1">1</span><span class="no1">1</span><span class="no6">6</span><span class="shim">,</span><span class="no4">4</span><span class="no4">4</span><span class="no0">0</span>
</em>
</td>
</tr>
<tr>
<td class="first">
<span class="sptxt sp_txt3">시가</span>
<em class="no_up">
<span class="blind">125,600</span><span class="no1">1</span><span class="no2">2</span><span class="no5">5</span><span class="shim">,</span><span class="no6">6</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt5">저가</span>
<em class="no_down">
<span class="blind">117,500</span><span class="no1">1</span><span class="no1">1</span><span class="no7">7</span><span class="shim">,</span><span class="no5">5</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt7">(하한가</span>
<em class="no_cha">