<a href="https://colab.research.google.com/github/yeonghun00/stock_public/blob/main/stock_screener.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
import datetime

In [2]:
today = datetime.date.today().strftime('%Y%m%d')

In [3]:
data = {
    'mktId': 'KSQ',
    'trdDd': today,
    'money': '1',
    'csvxls_isNo': 'false',
    'name': 'fileDown',
    'url': 'dbms/MDC/STAT/standard/MDCSTAT03901',
}
gen_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
gen_key = requests.post(gen_url, data=data)

In [4]:
down_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
r = requests.post(down_url, data={'code':gen_key.text})
r.encoding = 'EUC-KR'

In [5]:
from io import StringIO

df = pd.read_csv(StringIO(r.text))

In [6]:
df

        종목코드     종목명    시장구분      업종명     종가    대비    등락률          시가총액
0     060310      3S  KOSDAQ    기계·장비   3950   -35  -0.88  182772476350
1     054620  APS홀딩스  KOSDAQ       금융  16000   300   1.91  326307536000
2     265520   AP시스템  KOSDAQ      반도체  24950 -1100  -4.22  361281663650
3     211270    AP위성  KOSDAQ     통신장비  16800  -650  -3.72  253382707200
4     013720     CBI  KOSDAQ  운송장비·부품   2750  -580 -17.42  139418881250
...      ...     ...     ...      ...    ...   ...    ...           ...
1511  024060    흥구석유  KOSDAQ       유통   8040   -10  -0.12  120600000000
1512  010240      흥국  KOSDAQ    기계·장비   9200  -130  -1.39  113368803200
1513  189980  흥국에프엔비  KOSDAQ   음식료·담배   3205  -135  -4.04  123030742035
1514  037440      희림  KOSDAQ    기타서비스   6700  -160  -2.33   93280582500
1515  238490      힘스  KOSDAQ      반도체   8900  -180  -1.98  100678900400

[1516 rows x 8 columns]

In [7]:
'''
%%timeit
df.loc[df['시가총액'].between(30000000000,70000000000), '종목명']

%%timeit
df[df['시가총액'].between(30000000000,70000000000)]['종목명']
'''

"\n%%timeit\ndf.loc[df['시가총액'].between(30000000000,70000000000), '종목명']\n\n%%timeit\ndf[df['시가총액'].between(30000000000,70000000000)]['종목명']\n"

In [8]:
boundary = df.loc[df['시가총액'].between(30000000000,70000000000)]
boundary

        종목코드      종목명    시장구분     업종명    종가   대비   등락률         시가총액
10    056000    COWON  KOSDAQ  디지털컨텐츠  2860    0  0.00  56399843500
12    083660  CSA 코스믹  KOSDAQ      화학  1480   -5 -0.34  56142488720
20    050120     ES큐브  KOSDAQ      유통  4535  -65 -1.41  61513130010
21    130500    GH신소재  KOSDAQ   섬유·의류  6280 -330 -4.99  69080000000
22    900290      GRT  KOSDAQ      금융   951    0  0.00  64073625000
...      ...      ...     ...     ...   ...  ...   ...          ...
1467  002680       한탑  KOSDAQ  음식료·담배  1325  -40 -2.93  37457734100
1475  220180    핸디소프트  KOSDAQ   소프트웨어  3605 -140 -3.74  69965840000
1476  900270     헝셩그룹  KOSDAQ      금융   489  -11 -2.20  39120000000
1489  011080    형지I&C  KOSDAQ   섬유·의류  1370  -40 -2.84  53369265160
1497  290270     휴네시온  KOSDAQ   소프트웨어  5800 -110 -1.86  55724497600

[234 rows x 8 columns]

In [9]:
!pip install OpenDartReader

Requirement already satisfied: OpenDartReader in /usr/local/lib/python3.7/dist-packages (0.1.6)
Requirement already satisfied: requests-file in /usr/local/lib/python3.7/dist-packages (from OpenDartReader) (1.5.1)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from OpenDartReader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from OpenDartReader) (4.2.6)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from OpenDartReader) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->OpenDartReader) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->OpenDartReader) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->OpenDartReader) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->OpenDartReader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (2.10)

In [10]:
import OpenDartReader

api_key = '4b0512c473e52e1cf59f8ce8380b2b30904f381a'
dart = OpenDartReader(api_key)

In [11]:
search_start = '2021-09-01'
search_end = '2021-10-01'

#search_date = datetime.date.today().strftime('%Y-%m-%d')

In [12]:
dart_df = dart.list(start=search_start, end=search_end, kind='A')
found = list(set(dart_df['stock_code']).intersection(set(boundary['종목코드'])))
out_df = dart_df[dart_df['stock_code'].isin(found)]

In [13]:
def get_recent_finstate(corp_code='', year=2021):
  quarters = ['11011', '11014', '11012', '11013']
  for q in quarters:
    # '11013'=1분기보고서, '11012'=반기보고서, '11014'=3분기보고서, '11011'=사업보고서
    df = dart.finstate(corp_code, year, reprt_code=q)
    if type(df) != type(None):
      return df[df['fs_nm'] == '연결재무제표']

In [14]:
def get_incomestatement(df):
  is_df = df.loc[df['sj_nm'] == '손익계산서']
  try:
    t = is_df[['rcept_no', 'thstrm_dt','account_nm', 'thstrm_amount', 'frmtrm_amount', 'thstrm_add_amount', 'frmtrm_add_amount']]
    t.columns = ['published_date', 'date', 'name', 'current03', 'previous03', 'current12', 'previous12']
  except:
    t = is_df[['rcept_no', 'thstrm_dt','account_nm', 'thstrm_amount', 'frmtrm_amount']]
    t.columns = ['published_date', 'date', 'name', 'current03', 'previous03']
  return t

def get_is_score(is_df):
  is_score = {}
  for n in is_df['name']:
    current = str_int(is_df.loc[is_df['name'] == n, 'current03'].values[0])
    previous = str_int(is_df.loc[is_df['name'] == n, 'previous03'].values[0])
    is_score[n] = get_growth_rate(previous, current)
  return is_score

In [15]:
def get_balancesheet(df):
  bs_df = df.loc[df['sj_nm'] == '재무상태표']
  t = bs_df[['rcept_no', 'thstrm_dt','account_nm', 'thstrm_amount', 'frmtrm_amount']]
  t.columns = ['published_date', 'date', 'name', 'current03', 'previous03']
  return t

def get_bs_score(bs_df):
  bs_score = {}
  for n in bs_df['name']:
    current = str_int(bs_df.loc[bs_df['name'] == n, 'current03'].values[0])
    previous = str_int(bs_df.loc[bs_df['name'] == n, 'previous03'].values[0])
    bs_score[n] = get_growth_rate(previous, current)
  return bs_score

In [16]:
def get_growth_rate(previous, current):
  return (current-previous)/abs(previous)

def str_int(s):
  return int(s.replace(',',''))

In [17]:
df = get_recent_finstate('290270')
is_df = get_incomestatement(df)
is_score = get_is_score(is_df)

bs_df = get_balancesheet(df)
bs_score = get_bs_score(bs_df)

In [18]:
score_dic = {}

for code in out_df['corp_code']:
  try:
    df = get_recent_finstate(code)
    is_df = get_incomestatement(df)
    is_score = get_is_score(is_df)

    bs_df = get_balancesheet(df)
    bs_score = get_bs_score(bs_df)

    date = out_df.loc[out_df['corp_code'] == code, 'rcept_dt'].values[0]
    name = out_df.loc[out_df['corp_code'] == code, 'corp_name'].values[0]
    print(date)
    print(name)
    print(is_score)
    print(bs_score)
    print()

    t = is_score
    t.update(bs_score)
    score_dic[name] = t
  except:
    print('ERROR', name)
    print()

20210917
이큐셀
{'매출액': 0.5946777575625294, '영업이익': 0.7633451325396896, '법인세차감전 순이익': 0.9813018644484682, '당기순이익': 0.9721316919875065}
{'유동자산': -0.2370703695783634, '비유동자산': -0.24581652782162192, '자산총계': -0.24148035427064782, '유동부채': -0.7701239556796861, '비유동부채': 1.41164381896257, '부채총계': -0.502050240114592, '자본금': -0.5427179216068487, '이익잉여금': -0.006226826540301651, '자본총계': 3.0341337394145134}

20210917
스카이이앤엠
{'매출액': -0.14140310196929798, '영업이익': 0.19975064286302283, '법인세차감전 순이익': -0.02171366431663808, '당기순이익': -0.025982011078868078}
{'유동자산': 0.281189948339449, '비유동자산': -0.27040936858142745, '자산총계': -0.10365077472303555, '유동부채': -0.43302546694734423, '비유동부채': -0.07561410483365145, '부채총계': -0.42283730207782316, '자본금': 0.4928203766130843, '이익잉여금': -0.33046473675636434, '자본총계': 0.7134420473245608}

20210917
포시에스
{'매출액': 0.09241148397369084, '영업이익': -0.011265960247431392, '법인세차감전 순이익': -0.20417519335780188, '당기순이익': -0.16989095071462781}
{'유동자산': 0.15750562429626755, '비유동자산': 0.07907330140988218, '자산총계': 0.10824443184589082, '유동부채': 0.08075864613843343, '비유동부채': 0.07416569719920661, '부채총계': 0.08004878918434596, '자본금': 0.0482579203923494, '이익잉여금': 0.09778818434329624, '자본총계': 0.10955308484784218}

20210917
아세아텍
{}
{}

20210917
패션플랫폼
{'매출액': 0.5398933437291242, '영업이익': 27.566627249716422, '법인세차감전 순이익': 90.22381715573147, '당기순이익': 114.76843857828506}
{'유동자산': 0.3405358974998343, '비유동자산': 0.13044835799546836, '자산총계': 0.27688705365982036, '유동부채': 0.16859273903884534, '비유동부채': -0.1680172297121108, '부채총계': 0.1253252036725048, '자본금': 0.0, '이익잉여금': 0.5722563456303145, '자본총계': 0.32471405184614743}

20210903
에스엘바이오닉스
{'매출액': 0.09733411441535623, '영업이익': -18.374621013120063, '법인세차감전 순이익': -0.586948588603823, '당기순이익': -0.5785254647167642}
{'유동자산': 0.6393425372755057, '비유동자산': -0.056903781152389324, '자산총계': 0.13344773806138877, '유동부채': 0.5024524155415482, '비유동부채': -0.2763960009663205, '부채총계': 0.4553923570080081, '자본금': 0.03831579916826594, '이익잉여금': -0.1104762148915406, '자본총계': 0.0111800075442885}

20210903
디엔에이링크
{'매출액': 0.183512389148573, '영업이익': -0.2167522820923746, '법인세차감전 순이익': 0.28456699332782504, '당기순이익': 0.28456699332782504}
{'유동자산': -0.1995904713666909, '비유동자산': 0.7956727506710429, '자산총계': -0.10205240193294161, '유동부채': -0.15358271578362637, '비유동부채': 0.35431924066889725, '부채총계': -0.13711603098913147, '자본금': 0.0, '이익잉여금': -0.05530709252324793, '자본총계': -0.08796338803883222}

20210902
KD
{'매출액': 32.208103132320176, '영업이익': 0.4969566229634689, '법인세차감전 순이익': 1.4613135842938936, '당기순이익': 1.277033724271046}
{'유동자산': 0.2080927233879781, '비유동자산': 0.07671846102742319, '자산총계': 0.12169029915916053, '유동부채': 0.12678033333950703, '비유동부채': 0.12652194215875512, '부채총계': 0.12661513776466618, '자본금': 0.0, '이익잉여금': 0.07659843410155252, '자본총계': 0.1063481427978561}

In [19]:
score_df = pd.DataFrame(score_dic).T
score_df

                매출액       영업이익  법인세차감전 순이익  ...       자본금     이익잉여금      자본총계
이큐셀        0.594678   0.763345    0.981302  ... -0.542718 -0.006227  3.034134
스카이이앤엠    -0.141403   0.199751   -0.021714  ...  0.492820 -0.330465  0.713442
포시에스       0.092411  -0.011266   -0.204175  ...  0.048258  0.097788  0.109553
아세아텍            NaN        NaN         NaN  ...       NaN       NaN       NaN
패션플랫폼      0.539893  27.566627   90.223817  ...  0.000000  0.572256  0.324714
에스엘바이오닉스   0.097334 -18.374621   -0.586949  ...  0.038316 -0.110476  0.011180
디엔에이링크     0.183512  -0.216752    0.284567  ...  0.000000 -0.055307 -0.087963
KD        32.208103   0.496957    1.461314  ...  0.000000  0.076598  0.106348

[8 rows x 13 columns]

In [20]:
score_df.sort_values(by=['영업이익', '매출액'], ascending=False).head(10)

                매출액       영업이익  법인세차감전 순이익  ...       자본금     이익잉여금      자본총계
패션플랫폼      0.539893  27.566627   90.223817  ...  0.000000  0.572256  0.324714
이큐셀        0.594678   0.763345    0.981302  ... -0.542718 -0.006227  3.034134
KD        32.208103   0.496957    1.461314  ...  0.000000  0.076598  0.106348
스카이이앤엠    -0.141403   0.199751   -0.021714  ...  0.492820 -0.330465  0.713442
포시에스       0.092411  -0.011266   -0.204175  ...  0.048258  0.097788  0.109553
디엔에이링크     0.183512  -0.216752    0.284567  ...  0.000000 -0.055307 -0.087963
에스엘바이오닉스   0.097334 -18.374621   -0.586949  ...  0.038316 -0.110476  0.011180
아세아텍            NaN        NaN         NaN  ...       NaN       NaN       NaN

[8 rows x 13 columns]