<a href="https://colab.research.google.com/github/yeonghun00/stock_public/blob/main/stock_screener.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
import datetime

In [ ]:
today = datetime.date.today().strftime('%Y%m%d')

In [ ]:
data = {
    'mktId': 'KSQ',
    'trdDd': today,
    'money': '1',
    'csvxls_isNo': 'false',
    'name': 'fileDown',
    'url': 'dbms/MDC/STAT/standard/MDCSTAT03901',
}
gen_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
gen_key = requests.post(gen_url, data=data)

In [ ]:
down_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
r = requests.post(down_url, data={'code':gen_key.text})
r.encoding = 'EUC-KR'

In [ ]:
from io import StringIO

df = pd.read_csv(StringIO(r.text))

In [ ]:
df

        종목코드     종목명    시장구분      업종명     종가   대비   등락률          시가총액
0     060310      3S  KOSDAQ    기계·장비   4025  120  3.07  186242839825
1     054620  APS홀딩스  KOSDAQ       금융  17200 -350 -1.99  350780601200
2     265520   AP시스템  KOSDAQ      반도체  26850 -850 -3.07  388794094950
3     211270    AP위성  KOSDAQ     통신장비  17800  100  0.56  268465011200
4     013720     CBI  KOSDAQ  운송장비·부품   3535  255  7.77  179216634625
...      ...     ...     ...      ...    ...  ...   ...           ...
1508  024060    흥구석유  KOSDAQ       유통   7840  420  5.66  117600000000
1509  010240      흥국  KOSDAQ    기계·장비   9590  460  5.04  118174654640
1510  189980  흥국에프엔비  KOSDAQ   음식료·담배   3315  130  4.08  127253326005
1511  037440      희림  KOSDAQ    기타서비스   7120  470  7.07   99128022000
1512  238490      힘스  KOSDAQ      반도체   9300 -100 -1.06  105203794800

[1513 rows x 8 columns]

In [ ]:
%%timeit
df.loc[df['시가총액'].between(30000000000,70000000000), '종목명']

The slowest run took 16.51 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 5: 584 µs per loop

In [ ]:
%%timeit
df[df['시가총액'].between(30000000000,70000000000)]['종목명']

1000 loops, best of 5: 980 µs per loop

In [ ]:
boundary = df.loc[df['시가총액'].between(30000000000,70000000000)]
boundary

        종목코드      종목명    시장구분     업종명    종가   대비   등락률         시가총액
10    056000    COWON  KOSDAQ  디지털컨텐츠  2860    0  0.00  56399843500
12    083660  CSA 코스믹  KOSDAQ      화학  1480  -30 -1.99  56142488720
20    050120     ES큐브  KOSDAQ      유통  4645  -95 -2.00  63005179470
22    900290      GRT  KOSDAQ      금융   951    0  0.00  64073625000
35    099520   ITX-AI  KOSDAQ    통신장비  1285    0  0.00  37652662655
...      ...      ...     ...     ...   ...  ...   ...          ...
1461  079170     한창산업  KOSDAQ      금속  9680  260  2.76  50336000000
1464  002680       한탑  KOSDAQ  음식료·담배  1400  -10 -0.71  39577983200
1473  900270     헝셩그룹  KOSDAQ      금융   506    4  0.80  40480000000
1486  011080    형지I&C  KOSDAQ   섬유·의류  1455   85  6.20  56680496940
1494  290270     휴네시온  KOSDAQ   소프트웨어  6140  110  1.82  58991106080

[218 rows x 8 columns]

In [ ]:
!pip install OpenDartReader

Requirement already satisfied: OpenDartReader in /usr/local/lib/python3.7/dist-packages (0.1.6)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from OpenDartReader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from OpenDartReader) (4.2.6)
Requirement already satisfied: requests-file in /usr/local/lib/python3.7/dist-packages (from OpenDartReader) (1.5.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from OpenDartReader) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->OpenDartReader) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->OpenDartReader) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->OpenDartReader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->OpenDartReader) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->OpenDartReader) (2021.5.30)

In [ ]:
import OpenDartReader

api_key = '4b0512c473e52e1cf59f8ce8380b2b30904f381a'
dart = OpenDartReader(api_key)

In [ ]:
search_date = '2021-08-20'

In [ ]:
dart_df = dart.list(start=search_date, kind='A')
found = list(set(dart_df['stock_code']).intersection(set(boundary['종목코드'])))
out_df = dart_df[dart_df['stock_code'].isin(found)]

In [ ]:
out_df

   corp_code corp_name stock_code  ...    flr_nm  rcept_dt rm
4   00818472       이큐셀     160600  ...       이큐셀  20210917  연
5   00814786    스카이이앤엠     131100  ...    스카이이앤엠  20210917
9   00939942      포시에스     189690  ...      포시에스  20210917  연
12  00138747      아세아텍     050860  ...      아세아텍  20210917
17  01101041     패션플랫폼     225590  ...     패션플랫폼  20210917
41  00957568  에스엘바이오닉스     214310  ...  에스엘바이오닉스  20210903
42  00642541    디엔에이링크     127120  ...    디엔에이링크  20210903  연
44  00111218        KD     044180  ...        KD  20210902
99  01169434  오가닉티코스메틱     900300  ...  오가닉티코스메틱  20210830
1   01160512      헝셩그룹     900270  ...      헝셩그룹  20210830
4   01328639      윙입푸드     900340  ...      윙입푸드  20210830
24  01139266       로스웰     900260  ...       로스웰  20210827
27  00783246    글로벌에스엠     900070  ...    글로벌에스엠  20210827
38  00656021      시티랩스     139050  ...      시티랩스  20210826  연
40  01174038       자비스     254120  ...       자비스  20210826
51  00475718     이엠앤아이     083470  ...     이엠앤아이  20210824
52  01091382    마이더스AI     222810  ...    마이더스AI  20210824
53  00402989       코스온     069110  ...       코스온  20210824

[18 rows x 9 columns]

In [ ]:
def get_recent_finstate(corp_code='', year=2021):
  quarters = ['11011', '11014', '11012', '11013']
  for q in quarters:
    # '11013'=1분기보고서, '11012'=반기보고서, '11014'=3분기보고서, '11011'=사업보고서
    df = dart.finstate(corp_code, year, reprt_code=q)
    if type(df) != type(None):
      return df[df['fs_nm'] == '연결재무제표']

In [ ]:
df = get_recent_finstate('00402989')
is_df = df.loc[df['sj_nm'] == '손익계산서']

In [ ]:
operating_profit = is_df[is_df['account_nm'].isin(['영업이익'])]

In [ ]:
current = int(operating_profit['thstrm_amount'].values[0].replace(',',''))

In [ ]:
previous = int(operating_profit['frmtrm_amount'].values[0].replace(',',''))

In [ ]:
50 100
-100 -50
-25 25

100 50
-50 -100
25 -25

In [ ]:
for code in out_df['corp_code']:
  df = get_recent_finstate(code)
  df.loc[df['sj_nm'] == '손익계산서']