<a href="https://colab.research.google.com/github/yeonghun00/stock-notes/blob/main/analysis/market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 코스피/코스닥 시총 100순위 변동
- 1주일/1달 주도주 분석
- 상승률 변동 (20, 60, 120, 250) 
- 강한 테마/이슈 뉴스검색어와 분석으로 연속성 검증
- 조회수순? 영향력 강한 1주일 이내 공시 분석기
- 앞으로 상장할 주식 1주일 치 이슈에 부합하나
- 업황 분석기: 지난 1주 1달치 업황 상승률/ 거래대금 순위

In [2]:
import requests
from datetime import date
import pandas as pd
from io import StringIO

In [3]:
market_type = {
    'all':'ALL',
    'kospi':'STK',
    'kosdaq':'KSQ'
}

def get_ranking(market, ranking_type, start_date, end_date=date.today().strftime("%Y%m%d")):
  gen_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
  url = ''
  if ranking_type == 'highest': url = 'dbms/MDC/EASY/ranking/MDCEASY01501'
  elif ranking_type == 'traded': url = 'dbms/MDC/EASY/ranking/MDCEASY01601'
  elif ranking_type == 'marketcap': url = 'dbms/MDC/EASY/ranking/MDCEASY01701'
  data = {
    'locale': 'ko_KR',
    'mktId': market,
    'itmTpCd': '1',
    'itmTpCd2': '1',
    'trdDd': start_date,
    'strtDd': start_date,
    'endDd': end_date,
    'stkprcTpCd': 'Y',
    'share': '1',
    'money': '1',
    'csvxls_isNo': 'false',
    'name': 'fileDown',
    'url': url
  }
  gen_key = requests.post(gen_url, data=data).text
  down_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
  data = {'code':gen_key}
  r = requests.post(down_url, data=data)
  r.encoding = 'EUC-KR'
  return pd.read_csv(StringIO(r.text))

In [4]:
get_ranking(market_type['kospi'], 'marketcap', '20220701')

,순위,종목코드,종목명,시장구분,종가,대비,등락률,거래량,거래대금,시가총액,시가총액비중,상장주식수
0,1,5930,삼성전자,KOSPI,56200,-800,-1.40,24982097,1412473217495,335501779310000,18.49,5969782550
1,2,373220,LG에너지솔루션,KOSPI,356500,-14500,-3.91,434833,156338269000,83421000000000,4.60,234000000
2,3,660,SK하이닉스,KOSPI,87500,-3500,-3.85,4959176,440689971812,63700206937500,3.51,728002365
3,4,207940,삼성바이오로직스,KOSPI,781000,-9000,-1.14,103125,80719403000,55586894000000,3.06,71174000
4,5,5935,삼성전자우,KOSPI,51500,-500,-0.96,1186949,61495453944,42378665050000,2.34,822886700
5,6,35420,NAVER,KOSPI,237000,-3000,-1.25,527033,124814368000,38879633145000,2.14,164049085
6,7,5380,현대차,KOSPI,180000,-500,-0.28,916020,165935696500,38460273660000,2.12,213668187
7,8,51910,LG화학,KOSPI,509000,-7000,-1.36,243043,124711522000,35931502587000,1.98,70592343
8,9,6400,삼성SDI,KOSPI,512000,-20000,-3.76,339486,175607024000,35207439360000,1.94,68764530
9,10,270,기아,KOSPI,78000,700,0.91,1008059,78898237200,31618341066000,1.74,405363347
10,11,35720,카카오,KOSPI,67300,-2600,-3.72,1817276,123969443700,29936554048100,1.65,444822497
11,12,68270,셀트리온,KOSPI,179000,500,0.28,527545,94101941500,25197445329000,1.39,140767851
12,13,28260,삼성물산,KOSPI,122500,-500,-0.41,412338,50695517500,22893667422500,1.26,186887081
13,14,5490,POSCO홀딩스,KOSPI,232500,2000,0.87,298947,69770038500,20270939137500,1.12,87186835
14,15,105560,KB금융,KOSPI,48200,50,0.10,1143171,55261907100,19875390210800,1.10,412352494
15,16,55550,신한지주,KOSPI,37900,850,2.29,1334004,50458405300,19440203564900,1.07,512934131
16,17,12330,현대모비스,KOSPI,201500,2500,1.26,218330,44250103500,19056478441000,1.05,94573094
17,18,96770,SK이노베이션,KOSPI,177500,-14500,-7.55,859927,156523157000,16412637610000,0.90,92465564
18,19,34730,SK,KOSPI,211500,-3500,-1.63,165068,35073046000,15682583083500,0.86,74149329
19,20,66570,LG전자,KOSPI,89900,1600,1.81,1390290,126354662100,14711938478600,0.81,163647814
20,21,15760,한국전력,KOSPI,22600,50,0.22,1229143,27711689500,14508388140200,0.80,641964077
21,22,323410,카카오뱅크,KOSPI,28950,-1300,-4.30,2655063,77975701300,13788376551150,0.76,476282437
22,23,32830,삼성생명,KOSPI,63200,600,0.96,204937,12964132800,12640000000000,0.70,200000000
23,24,329180,현대중공업,KOSPI,140000,-3000,-2.10,207510,29170528500,12428236240000,0.69,88773116
24,25,3550,LG,KOSPI,78600,700,0.90,280501,22149300000,12363858049800,0.68,157300993
25,26,34020,두산에너빌리티,KOSPI,19400,0,0.00,6164425,120169256300,12273458364200,0.68,632652493
26,27,86790,하나금융지주,KOSPI,39800,450,1.14,1045433,41679273250,11776958344800,0.65,295903476
27,28,11200,HMM,KOSPI,24000,-600,-2.44,2733631,66846611450,11736947904000,0.65,489039496
28,29,17670,SK텔레콤,KOSPI,52800,800,1.54,672843,35624432290,11554390003200,0.64,218833144
29,30,33780,KT&G,KOSPI,82000,-200,-0.24,255816,21022063400,11257984754000,0.62,137292497
30,31,10950,S-Oil,KOSPI,99900,-4100,-3.94,626706,63292422600,11247020920800,0.62,112582792
31,32,51900,LG생활건강,KOSPI,685000,5000,0.74,64620,44011695082,10698464945000,0.59,15618197
32,33,259960,크래프톤,KOSPI,215500,-3500,-1.60,255073,55906266500,10575025697500,0.58,49072045
33,34,18260,삼성에스디에스,KOSPI,129000,-1000,-0.77,102501,13270104000,9981736200000,0.55,77377800
34,35,810,삼성화재,KOSPI,202500,1500,0.75,103980,20910391000,9593404492500,0.53,47374837
35,36,30200,KT,KOSPI,36700,250,0.69,922048,33920056450,9582803353600,0.53,261111808
36,37,9150,삼성전기,KOSPI,127500,-3000,-2.30,617115,79474408000,9523446240000,0.52,74693696
37,38,10130,고려아연,KOSPI,481000,-6500,-1.33,36303,17478418000,9076470000000,0.50,18870000
38,39,3490,대한항공,KOSPI,25400,200,0.79,1275267,32429405550,8834648955000,0.49,347820825
39,40,316140,우리금융지주,KOSPI,12000,-100,-0.83,2667706,32251623950,8736726588000,0.48,728060549
40,41,11070,LG이노텍,KOSPI,341000,-1500,-0.44,206458,71007828500,8070483487000,0.44,23667107
41,42,3670,포스코케미칼,KOSPI,104000,-3000,-2.80,490412,51272479000,8056174880000,0.44,77463220
42,43,377300,카카오페이,KOSPI,59600,-600,-1.00,729735,44583191100,7897903178400,0.44,132515154
43,44,36570,엔씨소프트,KOSPI,350000,500,0.14,175587,61680867100,7683907700000,0.42,21954022
44,45,90430,아모레퍼시픽,KOSPI,130500,500,0.38,274749,35785278000,7633305049500,0.42,58492759
45,46,302440,SK바이오사이언스,KOSPI,96900,-3600,-3.58,551239,54460915100,7440374057400,0.41,76784046
46,47,9830,한화솔루션,KOSPI,38250,350,0.92,1324362,51202242450,7316402510250,0.40,191278497
47,48,24110,기업은행,KOSPI,9680,60,0.62,952006,9212744320,7204829682160,0.40,744300587
48,49,86280,현대글로비스,KOSPI,180500,1000,0.56,85414,15415322500,6768750000000,0.37,37500000
49,50,9540,한국조선해양,KOSPI,92900,-1000,-1.06,202489,18872950200,6574822476400,0.36,70773116

In [5]:
import altair as alt
from vega_datasets import data
import pandas as pd

stocks = data.stocks()
source = stocks.groupby([pd.Grouper(key="date", freq="6M"),"symbol"]).mean().reset_index()

alt.Chart(source).mark_line(point = True).encode(
    x = alt.X("date:O", timeUnit="yearmonth", title="date"),
    y="rank:O",
    color=alt.Color("symbol:N")
).transform_window(
    rank="rank()",
    sort=[alt.SortField("price", order="descending")],
    groupby=["date"]
).properties(
    title="Bump Chart for Stock Prices",
    width=800,
    height=200,
)

alt.Chart(...)

In [6]:
source

         date symbol       price
0  2000-01-31   AAPL   25.940000
1  2000-01-31   AMZN   64.560000
2  2000-01-31    IBM  100.520000
3  2000-01-31   MSFT   39.810000
4  2000-07-31   AAPL   27.703333
..        ...    ...         ...
95 2010-07-31   AAPL  213.820000
96 2010-07-31   AMZN  123.610000
97 2010-07-31   GOOG  543.495000
98 2010-07-31    IBM  126.355000
99 2010-07-31   MSFT   28.735000

[100 rows x 3 columns]

In [7]:
df1 = get_ranking(market_type['kospi'], 'marketcap', '20140801')[['순위', '종목명']].head()
df1

   순위     종목명
0   1    삼성전자
1   2     현대차
2   3  SK하이닉스
3   4   현대모비스
4   5   POSCO

In [8]:
df = {}

In [24]:
df = pd.DataFrame()
for d in pd.date_range(start='2010/01/01', periods=12, freq='1YS'):
  t = pd.DataFrame()
  dt = d
  while t.empty:
    t = get_ranking(market_type['kospi'], 'marketcap', dt.strftime('%Y%m%d'))[['순위', '종목명']].head(10)
    t['date'] = dt
    dt += pd.DateOffset(1)
  df = df.append(t, ignore_index=True)

In [25]:
df

     순위    종목명       date
0     1   삼성전자 2010-01-04
1     2  POSCO 2010-01-04
2     3    현대차 2010-01-04
3     4   KB금융 2010-01-04
4     5   한국전력 2010-01-04
..   ..    ...        ...
115   6  NAVER 2021-01-04
116   7   셀트리온 2021-01-04
117   8  삼성SDI 2021-01-04
118   9    현대차 2021-01-04
119  10    카카오 2021-01-04

[120 rows x 3 columns]

In [29]:
import altair as alt
from vega_datasets import data
import pandas as pd

source = df

alt.Chart(source).mark_line(point = True).encode(
    x = alt.X("date:O", timeUnit="yearmonth", title="date"),
    y="rank:O",
    color=alt.Color("종목명:N")
).transform_window(
    rank="rank()",
    sort=[alt.SortField("순위", order="ascending")],
    groupby=["date"]
).properties(
    width=1000,
    height=500,
)

alt.Chart(...)